*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: antiquewhite;
}
form{
    width: 50%;
    border: thin solid black;
    margin: 70px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px gray;
}
.wor{
    text-align: center;
}
.inps{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
    padding-bottom: .5em;
}
.inp{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.opt{
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.crn{
    background-color: blue;
    border: none;
    color: white;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.crn a{
    color: white;
    text-decoration: none;
}
.crn:hover{
    background-color: darkblue;
}
#noteCount {
    text-align: right;
    font-style: italic;
    font-size:0.9em;
    color:#555; 
}
/* media query */
@media(max-width: 885px){
    form{
    width: 70%;
    border: thin solid black;
    margin: 70px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px gray;
}
@media(max-width: 546px){
    form{
    width: 80%;
    border: thin solid black;
    margin: 70px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px gray;
}
}
}